{
  "openapi": "3.0.1",
  "info": {
    "title": "SchoolMaker API V1",
    "description": "API for managing your SchoolMaker school",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://schoolmaker.co/api/v1",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/members": {
      "get": {
        "summary": "List Members or Get a Member",
        "description": "Without id/email, returns a paginated list of members. If id or email is provided, returns a single member. List filters combine, with product_id taking precedence over offer_id.",
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offer_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "If provided, returns the member with this ID instead of a list."
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "If provided (and id not given), returns the member with this email instead of a list."
          },
          {
            "name": "min_points",
            "in": "query",
            "description": "Minimum all-time points, inclusive. Members without points count as zero. Requires leaderboards to be enabled. Omit or leave blank for no minimum.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "max_points",
            "in": "query",
            "description": "Maximum all-time points, inclusive. Requires leaderboards to be enabled. Omit or leave blank for no maximum.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "min_level",
            "in": "query",
            "description": "Minimum current level, inclusive. Members without level history count as level 1. Requires levels to be enabled. Omit or leave blank for no minimum.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "max_level",
            "in": "query",
            "description": "Maximum current level, inclusive. Requires levels to be enabled. Omit or leave blank for no maximum.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "min_coaching_used",
            "in": "query",
            "description": "Minimum coaching usage, inclusive. Requires coaching_type_id. Measured in hours for timed coaching or sessions otherwise, including future published appointments. No appointments count as zero. Omit or leave blank for no minimum.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "max_coaching_used",
            "in": "query",
            "description": "Maximum coaching usage, inclusive. Requires coaching_type_id. Measured in hours for timed coaching or sessions otherwise, including future published appointments. No appointments count as zero. Omit or leave blank for no maximum.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "consultation_category_id",
            "in": "query",
            "description": "Filter by current offer access to this consultation category. Excludes expired, inactive or deleted accesses and deleted offers. Subscriptions must be active or trialing. Omit or leave blank for no filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "live_category_id",
            "in": "query",
            "description": "Filter by current offer access to this live category. Excludes expired, inactive or deleted accesses and deleted offers. Subscriptions must be active or trialing. Omit or leave blank for no filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coaching_type_id",
            "in": "query",
            "description": "Filter by current offer access to this coaching type. Excludes expired, inactive or deleted accesses and deleted offers. Subscriptions must be active or trialing. Omit or leave blank for no filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ai_assistant_id",
            "in": "query",
            "description": "Filter by current offer access to this AI coach. Excludes expired, inactive or deleted accesses and deleted offers. Subscriptions must be active or trialing. Omit or leave blank for no filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members (when no id/email) or a single member (when id/email provided).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "members": {
                          "type": "array",
                          "description": "25 members per page.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "last_seen_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "profile_picture_url": {
                                "type": "string",
                                "nullable": true,
                                "description": "Profile picture URL, or null if none is attached."
                              }
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total_count": {
                              "type": "integer"
                            },
                            "total_pages": {
                              "type": "integer"
                            },
                            "current_page": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "last_seen_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "profile_picture_url": {
                          "type": "string",
                          "nullable": true,
                          "description": "Profile picture URL, or null if none is attached."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Filter ID not found in your school.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "No data found"
                }
              }
            }
          },
          "422": {
            "description": "Invalid numeric bound, disabled feature, or coaching usage without coaching_type_id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "min_points must be a nonnegative number"
                }
              }
            }
          }
        }
      }
    },
    "/members/set_suspend": {
      "post": {
        "summary": "Set Member Suspend Status",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suspend",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the member"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address of the member"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "First name of the member"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Last name of the member"
                    },
                    "last_seen_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the member was last seen"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the member was created"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the member was last updated"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/set_ban": {
      "post": {
        "summary": "Set Member Ban Status",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ban",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the member"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address of the member"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "First name of the member"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Last name of the member"
                    },
                    "last_seen_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the member was last seen"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the member was created"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the member was last updated"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/delete_member": {
      "post": {
        "summary": "Delete a member",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Member",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Deletion status"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message description"
                    },
                    "id": {
                      "type": "string",
                      "description": "ID of the member deleted"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/accesses": {
      "get": {
        "summary": "Get Member Accesses",
        "description": "Retrieves all member offer accesses.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member accesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accesses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "offer_id": {
                            "type": "string"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "nullable": true
                              },
                              "amount": {
                                "type": "number",
                                "nullable": true
                              },
                              "currency": {
                                "type": "string",
                                "nullable": true
                              },
                              "price_type": {
                                "type": "string",
                                "nullable": true
                              },
                              "recurring_interval": {
                                "type": "string",
                                "nullable": true
                              },
                              "recurring_interval_count": {
                                "type": "integer",
                                "nullable": true
                              }
                            }
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "access_created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admins": {
      "get": {
        "summary": "List Admins & Moderators or Get Details",
        "description": "Without id/email, returns the list of admins & moderators of your school. If id or email is provided, returns a single admin/moderator.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "If provided, returns the admin/moderator with this ID instead of a list."
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "If provided (and id not given), returns the admin/moderator with this email instead of a list."
          }
        ],
        "responses": {
          "200": {
            "description": "List of admins & moderators (when no id/email) or a single admin/moderator (when id/email provided).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "users": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              },
                              "is_active": {
                                "type": "boolean"
                              },
                              "is_banned": {
                                "type": "boolean"
                              },
                              "time_zone": {
                                "type": "string"
                              },
                              "last_seen_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "is_school_owner": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "is_banned": {
                          "type": "boolean"
                        },
                        "time_zone": {
                          "type": "string"
                        },
                        "last_seen_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "is_school_owner": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List Programs",
        "description": "Retrieves all programs of your school.",
        "parameters": [
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to programs accessible by this member and include progression."
          },
          {
            "name": "member_email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to programs accessible by this member email and include progression."
          }
        ],
        "responses": {
          "200": {
            "description": "List of programs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LegacyProgram"
                      }
                    }
                  }
                },
                "example": {
                  "products": [
                    {
                      "id": "PROGRAM_ID",
                      "name": "Orientation",
                      "description": "Getting started",
                      "is_published": false,
                      "position": 1,
                      "created_at": "2026-10-02T00:00:00Z",
                      "updated_at": "2026-10-02T00:00:00Z",
                      "default_reviewer_ids": [],
                      "settings": {},
                      "questions_category_id": null,
                      "questions_category_type": null,
                      "image_logo_url": null,
                      "image_cover_url": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Access denied"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Record not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Validation failed"
                }
              }
            }
          }
        },
        "tags": [
          "Programs"
        ]
      },
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Create a Program",
        "description": "Creates a program in your school.",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Access denied"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Record not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Validation failed"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Program title. Required on creation and cannot be blank. Maximum 255 characters.",
                        "minLength": 1
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 210,
                        "description": "Short program summary. Maximum 210 characters.",
                        "nullable": true
                      },
                      "is_published": {
                        "type": "boolean",
                        "description": "Whether the program is published. Required on creation. Published programs count toward your plan limit. Drafts do not."
                      },
                      "is_default_granularity_access_enabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_store_url": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "Adds an Unlock button for members without access to the program. Use the URL of an offer that grants access. Send null or an empty string to clear it.",
                        "nullable": true
                      },
                      "settings_show_member_count": {
                        "type": "boolean",
                        "description": "Show the number of members in this program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                        "nullable": true
                      },
                      "settings_is_certificate_enabled": {
                        "type": "boolean",
                        "description": "Give members a certificate when they complete all steps in the program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                        "nullable": true
                      },
                      "settings_is_milestone_display_enabled": {
                        "type": "boolean",
                        "description": "Show the milestones in the program plan. Defaults to true. Send null to restore the default.",
                        "nullable": true
                      },
                      "settings_is_coaching_disabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_is_section_groups_enabled": {
                        "type": "boolean",
                        "description": "Allow sections to be organized into groups. Off by default. Send null to turn it off.",
                        "nullable": true
                      },
                      "is_secret": {
                        "type": "boolean",
                        "description": "Only members with access to a \"secret program\" can see it on the home page.",
                        "nullable": true
                      },
                      "questions_category_id": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "ID of an accessible question category in this school. Pair with questions_category_type.",
                        "nullable": true
                      },
                      "questions_category_type": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "Use Forums::Category for a community space or Meetings::Category for a consultation category. Must match questions_category_id.",
                        "nullable": true
                      },
                      "settings_is_inline_questions_category": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_is_questions_disabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "default_reviewer_ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "maxItems": 100,
                        "description": "Staff user IDs assigned to review new steps, up to 100. Defaults to an empty list. Send [] to clear these defaults without changing reviewers assigned directly to existing steps. Null is not accepted."
                      },
                      "questions_destination": {
                        "type": "string",
                        "enum": [
                          "inline",
                          "disabled",
                          "community",
                          "consultation",
                          "new_community",
                          "new_consultation"
                        ],
                        "description": "Choose where members ask questions. Existing community or consultation destinations must be published and use questions_category_id. Members need access to those destinations. new_community and new_consultation are available only when creating a program and create a published destination named after it. Do not combine this with conflicting question settings."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Fields may be sent directly or inside attributes. Omitted fields remain unchanged on update.",
                    "required": [
                      "name",
                      "is_published"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Program title. Required on creation and cannot be blank. Maximum 255 characters.",
                            "minLength": 1
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 210,
                            "description": "Short program summary. Maximum 210 characters.",
                            "nullable": true
                          },
                          "is_published": {
                            "type": "boolean",
                            "description": "Whether the program is published. Required on creation. Published programs count toward your plan limit. Drafts do not."
                          },
                          "is_default_granularity_access_enabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_store_url": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "Adds an Unlock button for members without access to the program. Use the URL of an offer that grants access. Send null or an empty string to clear it.",
                            "nullable": true
                          },
                          "settings_show_member_count": {
                            "type": "boolean",
                            "description": "Show the number of members in this program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                            "nullable": true
                          },
                          "settings_is_certificate_enabled": {
                            "type": "boolean",
                            "description": "Give members a certificate when they complete all steps in the program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                            "nullable": true
                          },
                          "settings_is_milestone_display_enabled": {
                            "type": "boolean",
                            "description": "Show the milestones in the program plan. Defaults to true. Send null to restore the default.",
                            "nullable": true
                          },
                          "settings_is_coaching_disabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_is_section_groups_enabled": {
                            "type": "boolean",
                            "description": "Allow sections to be organized into groups. Off by default. Send null to turn it off.",
                            "nullable": true
                          },
                          "is_secret": {
                            "type": "boolean",
                            "description": "Only members with access to a \"secret program\" can see it on the home page.",
                            "nullable": true
                          },
                          "questions_category_id": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "ID of an accessible question category in this school. Pair with questions_category_type.",
                            "nullable": true
                          },
                          "questions_category_type": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "Use Forums::Category for a community space or Meetings::Category for a consultation category. Must match questions_category_id.",
                            "nullable": true
                          },
                          "settings_is_inline_questions_category": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_is_questions_disabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "default_reviewer_ids": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "maxItems": 100,
                            "description": "Staff user IDs assigned to review new steps, up to 100. Defaults to an empty list. Send [] to clear these defaults without changing reviewers assigned directly to existing steps. Null is not accepted."
                          },
                          "questions_destination": {
                            "type": "string",
                            "enum": [
                              "inline",
                              "disabled",
                              "community",
                              "consultation",
                              "new_community",
                              "new_consultation"
                            ],
                            "description": "Choose where members ask questions. Existing community or consultation destinations must be published and use questions_category_id. Members need access to those destinations. new_community and new_consultation are available only when creating a program and create a published destination named after it. Do not combine this with conflicting question settings."
                          }
                        },
                        "additionalProperties": false,
                        "description": "Fields may be sent directly or inside attributes. Omitted fields remain unchanged on update.",
                        "required": [
                          "name",
                          "is_published"
                        ]
                      }
                    },
                    "required": [
                      "attributes"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Program title. Required on creation and cannot be blank. Maximum 255 characters.",
                        "minLength": 1
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 210,
                        "description": "Short program summary. Maximum 210 characters.",
                        "nullable": true
                      },
                      "is_published": {
                        "type": "boolean",
                        "description": "Whether the program is published. Required on creation. Published programs count toward your plan limit. Drafts do not."
                      },
                      "is_default_granularity_access_enabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_store_url": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "Adds an Unlock button for members without access to the program. Use the URL of an offer that grants access. Send null or an empty string to clear it.",
                        "nullable": true
                      },
                      "settings_show_member_count": {
                        "type": "boolean",
                        "description": "Show the number of members in this program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                        "nullable": true
                      },
                      "settings_is_certificate_enabled": {
                        "type": "boolean",
                        "description": "Give members a certificate when they complete all steps in the program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                        "nullable": true
                      },
                      "settings_is_milestone_display_enabled": {
                        "type": "boolean",
                        "description": "Show the milestones in the program plan. Defaults to true. Send null to restore the default.",
                        "nullable": true
                      },
                      "settings_is_coaching_disabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_is_section_groups_enabled": {
                        "type": "boolean",
                        "description": "Allow sections to be organized into groups. Off by default. Send null to turn it off.",
                        "nullable": true
                      },
                      "is_secret": {
                        "type": "boolean",
                        "description": "Only members with access to a \"secret program\" can see it on the home page.",
                        "nullable": true
                      },
                      "questions_category_id": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "ID of an accessible question category in this school. Pair with questions_category_type.",
                        "nullable": true
                      },
                      "questions_category_type": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "Use Forums::Category for a community space or Meetings::Category for a consultation category. Must match questions_category_id.",
                        "nullable": true
                      },
                      "settings_is_inline_questions_category": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_is_questions_disabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "default_reviewer_ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "maxItems": 100,
                        "description": "Staff user IDs assigned to review new steps, up to 100. Defaults to an empty list. Send [] to clear these defaults without changing reviewers assigned directly to existing steps. Null is not accepted."
                      },
                      "questions_destination": {
                        "type": "string",
                        "enum": [
                          "inline",
                          "disabled",
                          "community",
                          "consultation",
                          "new_community",
                          "new_consultation"
                        ],
                        "description": "Choose where members ask questions. Existing community or consultation destinations must be published and use questions_category_id. Members need access to those destinations. new_community and new_consultation are available only when creating a program and create a published destination named after it. Do not combine this with conflicting question settings."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Fields may be sent directly or inside attributes. Omitted fields remain unchanged on update.",
                    "required": [
                      "name",
                      "is_published"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Program title. Required on creation and cannot be blank. Maximum 255 characters.",
                            "minLength": 1
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 210,
                            "description": "Short program summary. Maximum 210 characters.",
                            "nullable": true
                          },
                          "is_published": {
                            "type": "boolean",
                            "description": "Whether the program is published. Required on creation. Published programs count toward your plan limit. Drafts do not."
                          },
                          "is_default_granularity_access_enabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_store_url": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "Adds an Unlock button for members without access to the program. Use the URL of an offer that grants access. Send null or an empty string to clear it.",
                            "nullable": true
                          },
                          "settings_show_member_count": {
                            "type": "boolean",
                            "description": "Show the number of members in this program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                            "nullable": true
                          },
                          "settings_is_certificate_enabled": {
                            "type": "boolean",
                            "description": "Give members a certificate when they complete all steps in the program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                            "nullable": true
                          },
                          "settings_is_milestone_display_enabled": {
                            "type": "boolean",
                            "description": "Show the milestones in the program plan. Defaults to true. Send null to restore the default.",
                            "nullable": true
                          },
                          "settings_is_coaching_disabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_is_section_groups_enabled": {
                            "type": "boolean",
                            "description": "Allow sections to be organized into groups. Off by default. Send null to turn it off.",
                            "nullable": true
                          },
                          "is_secret": {
                            "type": "boolean",
                            "description": "Only members with access to a \"secret program\" can see it on the home page.",
                            "nullable": true
                          },
                          "questions_category_id": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "ID of an accessible question category in this school. Pair with questions_category_type.",
                            "nullable": true
                          },
                          "questions_category_type": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "Use Forums::Category for a community space or Meetings::Category for a consultation category. Must match questions_category_id.",
                            "nullable": true
                          },
                          "settings_is_inline_questions_category": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_is_questions_disabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "default_reviewer_ids": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "maxItems": 100,
                            "description": "Staff user IDs assigned to review new steps, up to 100. Defaults to an empty list. Send [] to clear these defaults without changing reviewers assigned directly to existing steps. Null is not accepted."
                          },
                          "questions_destination": {
                            "type": "string",
                            "enum": [
                              "inline",
                              "disabled",
                              "community",
                              "consultation",
                              "new_community",
                              "new_consultation"
                            ],
                            "description": "Choose where members ask questions. Existing community or consultation destinations must be published and use questions_category_id. Members need access to those destinations. new_community and new_consultation are available only when creating a program and create a published destination named after it. Do not combine this with conflicting question settings."
                          }
                        },
                        "additionalProperties": false,
                        "description": "Fields may be sent directly or inside attributes. Omitted fields remain unchanged on update.",
                        "required": [
                          "name",
                          "is_published"
                        ]
                      }
                    },
                    "required": [
                      "attributes"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Get Program Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Program ID."
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to programs accessible by this member and include progression."
          },
          {
            "name": "member_email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to programs accessible by this member email and include progression."
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyProgram"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Access denied"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Record not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Validation failed"
                }
              }
            }
          }
        },
        "tags": [
          "Programs"
        ],
        "description": "Retrieves details from a specific program."
      },
      "patch": {
        "tags": [
          "Programs"
        ],
        "summary": "Set Program Details",
        "description": "Updates a program's details and settings.",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Access denied"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Record not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Validation failed"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Program title. Required on creation and cannot be blank. Maximum 255 characters.",
                        "minLength": 1
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 210,
                        "description": "Short program summary. Maximum 210 characters.",
                        "nullable": true
                      },
                      "is_published": {
                        "type": "boolean",
                        "description": "Whether the program is published. Required on creation. Published programs count toward your plan limit. Drafts do not.",
                        "nullable": true
                      },
                      "is_default_granularity_access_enabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_store_url": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "Adds an Unlock button for members without access to the program. Use the URL of an offer that grants access. Send null or an empty string to clear it.",
                        "nullable": true
                      },
                      "settings_show_member_count": {
                        "type": "boolean",
                        "description": "Show the number of members in this program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                        "nullable": true
                      },
                      "settings_is_certificate_enabled": {
                        "type": "boolean",
                        "description": "Give members a certificate when they complete all steps in the program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                        "nullable": true
                      },
                      "settings_is_milestone_display_enabled": {
                        "type": "boolean",
                        "description": "Show the milestones in the program plan. Defaults to true. Send null to restore the default.",
                        "nullable": true
                      },
                      "settings_is_coaching_disabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_is_section_groups_enabled": {
                        "type": "boolean",
                        "description": "Allow sections to be organized into groups. Off by default. Send null to turn it off.",
                        "nullable": true
                      },
                      "is_secret": {
                        "type": "boolean",
                        "description": "Only members with access to a \"secret program\" can see it on the home page.",
                        "nullable": true
                      },
                      "questions_category_id": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "ID of an accessible question category in this school. Pair with questions_category_type.",
                        "nullable": true
                      },
                      "questions_category_type": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "Use Forums::Category for a community space or Meetings::Category for a consultation category. Must match questions_category_id.",
                        "nullable": true
                      },
                      "settings_is_inline_questions_category": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_is_questions_disabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "default_reviewer_ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "maxItems": 100,
                        "description": "Staff user IDs assigned to review new steps, up to 100. Defaults to an empty list. Send [] to clear these defaults without changing reviewers assigned directly to existing steps. Null is not accepted."
                      },
                      "questions_destination": {
                        "type": "string",
                        "enum": [
                          "inline",
                          "disabled",
                          "community",
                          "consultation",
                          "new_community",
                          "new_consultation"
                        ],
                        "description": "Choose where members ask questions. Existing community or consultation destinations must be published and use questions_category_id. Members need access to those destinations. new_community and new_consultation are available only when creating a program and create a published destination named after it. Do not combine this with conflicting question settings."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Fields may be sent directly or inside attributes. Omitted fields remain unchanged on update."
                  },
                  {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Program title. Required on creation and cannot be blank. Maximum 255 characters.",
                            "minLength": 1
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 210,
                            "description": "Short program summary. Maximum 210 characters.",
                            "nullable": true
                          },
                          "is_published": {
                            "type": "boolean",
                            "description": "Whether the program is published. Required on creation. Published programs count toward your plan limit. Drafts do not.",
                            "nullable": true
                          },
                          "is_default_granularity_access_enabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_store_url": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "Adds an Unlock button for members without access to the program. Use the URL of an offer that grants access. Send null or an empty string to clear it.",
                            "nullable": true
                          },
                          "settings_show_member_count": {
                            "type": "boolean",
                            "description": "Show the number of members in this program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                            "nullable": true
                          },
                          "settings_is_certificate_enabled": {
                            "type": "boolean",
                            "description": "Give members a certificate when they complete all steps in the program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                            "nullable": true
                          },
                          "settings_is_milestone_display_enabled": {
                            "type": "boolean",
                            "description": "Show the milestones in the program plan. Defaults to true. Send null to restore the default.",
                            "nullable": true
                          },
                          "settings_is_coaching_disabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_is_section_groups_enabled": {
                            "type": "boolean",
                            "description": "Allow sections to be organized into groups. Off by default. Send null to turn it off.",
                            "nullable": true
                          },
                          "is_secret": {
                            "type": "boolean",
                            "description": "Only members with access to a \"secret program\" can see it on the home page.",
                            "nullable": true
                          },
                          "questions_category_id": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "ID of an accessible question category in this school. Pair with questions_category_type.",
                            "nullable": true
                          },
                          "questions_category_type": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "Use Forums::Category for a community space or Meetings::Category for a consultation category. Must match questions_category_id.",
                            "nullable": true
                          },
                          "settings_is_inline_questions_category": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_is_questions_disabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "default_reviewer_ids": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "maxItems": 100,
                            "description": "Staff user IDs assigned to review new steps, up to 100. Defaults to an empty list. Send [] to clear these defaults without changing reviewers assigned directly to existing steps. Null is not accepted."
                          },
                          "questions_destination": {
                            "type": "string",
                            "enum": [
                              "inline",
                              "disabled",
                              "community",
                              "consultation",
                              "new_community",
                              "new_consultation"
                            ],
                            "description": "Choose where members ask questions. Existing community or consultation destinations must be published and use questions_category_id. Members need access to those destinations. new_community and new_consultation are available only when creating a program and create a published destination named after it. Do not combine this with conflicting question settings."
                          }
                        },
                        "additionalProperties": false,
                        "description": "Fields may be sent directly or inside attributes. Omitted fields remain unchanged on update."
                      }
                    },
                    "required": [
                      "attributes"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Program title. Required on creation and cannot be blank. Maximum 255 characters.",
                        "minLength": 1
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 210,
                        "description": "Short program summary. Maximum 210 characters.",
                        "nullable": true
                      },
                      "is_published": {
                        "type": "boolean",
                        "description": "Whether the program is published. Required on creation. Published programs count toward your plan limit. Drafts do not.",
                        "nullable": true
                      },
                      "is_default_granularity_access_enabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_store_url": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "Adds an Unlock button for members without access to the program. Use the URL of an offer that grants access. Send null or an empty string to clear it.",
                        "nullable": true
                      },
                      "settings_show_member_count": {
                        "type": "boolean",
                        "description": "Show the number of members in this program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                        "nullable": true
                      },
                      "settings_is_certificate_enabled": {
                        "type": "boolean",
                        "description": "Give members a certificate when they complete all steps in the program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                        "nullable": true
                      },
                      "settings_is_milestone_display_enabled": {
                        "type": "boolean",
                        "description": "Show the milestones in the program plan. Defaults to true. Send null to restore the default.",
                        "nullable": true
                      },
                      "settings_is_coaching_disabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_is_section_groups_enabled": {
                        "type": "boolean",
                        "description": "Allow sections to be organized into groups. Off by default. Send null to turn it off.",
                        "nullable": true
                      },
                      "is_secret": {
                        "type": "boolean",
                        "description": "Only members with access to a \"secret program\" can see it on the home page.",
                        "nullable": true
                      },
                      "questions_category_id": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "ID of an accessible question category in this school. Pair with questions_category_type.",
                        "nullable": true
                      },
                      "questions_category_type": {
                        "type": "string",
                        "maxLength": 200000,
                        "description": "Use Forums::Category for a community space or Meetings::Category for a consultation category. Must match questions_category_id.",
                        "nullable": true
                      },
                      "settings_is_inline_questions_category": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "settings_is_questions_disabled": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "default_reviewer_ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "maxItems": 100,
                        "description": "Staff user IDs assigned to review new steps, up to 100. Defaults to an empty list. Send [] to clear these defaults without changing reviewers assigned directly to existing steps. Null is not accepted."
                      },
                      "questions_destination": {
                        "type": "string",
                        "enum": [
                          "inline",
                          "disabled",
                          "community",
                          "consultation",
                          "new_community",
                          "new_consultation"
                        ],
                        "description": "Choose where members ask questions. Existing community or consultation destinations must be published and use questions_category_id. Members need access to those destinations. new_community and new_consultation are available only when creating a program and create a published destination named after it. Do not combine this with conflicting question settings."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Fields may be sent directly or inside attributes. Omitted fields remain unchanged on update."
                  },
                  {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Program title. Required on creation and cannot be blank. Maximum 255 characters.",
                            "minLength": 1
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 210,
                            "description": "Short program summary. Maximum 210 characters.",
                            "nullable": true
                          },
                          "is_published": {
                            "type": "boolean",
                            "description": "Whether the program is published. Required on creation. Published programs count toward your plan limit. Drafts do not.",
                            "nullable": true
                          },
                          "is_default_granularity_access_enabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_store_url": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "Adds an Unlock button for members without access to the program. Use the URL of an offer that grants access. Send null or an empty string to clear it.",
                            "nullable": true
                          },
                          "settings_show_member_count": {
                            "type": "boolean",
                            "description": "Show the number of members in this program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                            "nullable": true
                          },
                          "settings_is_certificate_enabled": {
                            "type": "boolean",
                            "description": "Give members a certificate when they complete all steps in the program. Off by default. Send true or false to update it. An existing value cannot be cleared with null.",
                            "nullable": true
                          },
                          "settings_is_milestone_display_enabled": {
                            "type": "boolean",
                            "description": "Show the milestones in the program plan. Defaults to true. Send null to restore the default.",
                            "nullable": true
                          },
                          "settings_is_coaching_disabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_is_section_groups_enabled": {
                            "type": "boolean",
                            "description": "Allow sections to be organized into groups. Off by default. Send null to turn it off.",
                            "nullable": true
                          },
                          "is_secret": {
                            "type": "boolean",
                            "description": "Only members with access to a \"secret program\" can see it on the home page.",
                            "nullable": true
                          },
                          "questions_category_id": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "ID of an accessible question category in this school. Pair with questions_category_type.",
                            "nullable": true
                          },
                          "questions_category_type": {
                            "type": "string",
                            "maxLength": 200000,
                            "description": "Use Forums::Category for a community space or Meetings::Category for a consultation category. Must match questions_category_id.",
                            "nullable": true
                          },
                          "settings_is_inline_questions_category": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "settings_is_questions_disabled": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "default_reviewer_ids": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "maxItems": 100,
                            "description": "Staff user IDs assigned to review new steps, up to 100. Defaults to an empty list. Send [] to clear these defaults without changing reviewers assigned directly to existing steps. Null is not accepted."
                          },
                          "questions_destination": {
                            "type": "string",
                            "enum": [
                              "inline",
                              "disabled",
                              "community",
                              "consultation",
                              "new_community",
                              "new_consultation"
                            ],
                            "description": "Choose where members ask questions. Existing community or consultation destinations must be published and use questions_category_id. Members need access to those destinations. new_community and new_consultation are available only when creating a program and create a published destination named after it. Do not combine this with conflicting question settings."
                          }
                        },
                        "additionalProperties": false,
                        "description": "Fields may be sent directly or inside attributes. Omitted fields remain unchanged on update."
                      }
                    },
                    "required": [
                      "attributes"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Program ID."
          }
        ]
      },
      "delete": {
        "tags": [
          "Programs"
        ],
        "summary": "Delete a Program",
        "description": "Moves a program to Trash and removes its logo and cover.",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramDeleted"
                },
                "example": {
                  "id": "PROGRAM_ID",
                  "deleted": true
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Access denied"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Record not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramError"
                },
                "example": {
                  "error": "Validation failed"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Program ID."
          }
        ]
      }
    },
    "/offers": {
      "get": {
        "summary": "List Offers",
        "description": "Retrieves all offers of your school.",
        "responses": {
          "200": {
            "description": "List of offers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "is_published": {
                            "type": "boolean"
                          },
                          "prices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "amount": {
                                  "oneOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "string"
                                    }
                                  ]
                                },
                                "currency": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "error": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Record not found in your school.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "error": "Record not found"
                }
              }
            }
          },
          "422": {
            "description": "Invalid offer details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "error": "Invalid arguments: /attributes/name minLength"
                }
              }
            }
          }
        },
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "name": "filters[is_published]",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Offers"
        ],
        "summary": "Create an Offer",
        "description": "Creates an offer with its settings, accesses and prices. Offers are unpublished by default.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "long_description": {
                      "type": "string",
                      "nullable": true
                    },
                    "is_published": {
                      "type": "boolean"
                    },
                    "is_access_program_shown": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "is_search_engine_indexing_enabled": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "max_purchase_amount": {
                      "type": "integer",
                      "nullable": true
                    },
                    "trial_period_days": {
                      "type": "integer",
                      "nullable": true
                    },
                    "trial_period_days_multiplier": {
                      "type": "integer",
                      "nullable": true
                    },
                    "settings_allow_multiple_purchase": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "image_cover_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "accesses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "element_id": {
                            "type": "string"
                          },
                          "element_type": {
                            "type": "string"
                          },
                          "access_type": {
                            "type": "string"
                          },
                          "end_delay": {
                            "type": "integer"
                          },
                          "quantity": {
                            "type": "integer"
                          },
                          "lessons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "is_enabled": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "amount": {
                            "oneOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "price_type": {
                            "type": "string"
                          },
                          "recurring_interval": {
                            "type": "string"
                          },
                          "recurring_interval_count": {
                            "type": "integer"
                          },
                          "recurring_iterations": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "error": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Record not found in your school.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "error": "Record not found"
                }
              }
            }
          },
          "422": {
            "description": "Invalid offer details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "error": "Invalid arguments: /attributes/name minLength"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "minLength": 1,
                        "description": "Offer name. Required when creating and cannot be blank."
[...]
