{
  "openapi": "3.0.1",
  "info": {
    "title": "SchoolMaker API V1",
    "description": "API for managing your SchoolMaker school",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://schoolmaker.co/api/v1",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/members": {
      "get": {
        "summary": "List members",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members with pagination"
          }
        }
      }
    },
    "/members/{id}": {
      "get": {
        "summary": "Get member details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200: Success": {
            "description": "Member details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the member"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address of the member"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "First name of the member"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Last name of the member"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the member was created"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the member was last updated"
                    }
                  }
                },
                "example": {
                  "id": "0ae24882-ddff-4e46-8bc8-fbe8a22d543d",
                  "email": "example@gmail.com",
                  "first_name": "John",
                  "last_name": "Doe",
                  "created_at": "2023-11-13T08:51:31Z",
                  "updated_at": "2025-02-07T14:29:36Z"
                }
              }
            }
          }
        }
      }
    },
    "/admins": {
      "get": {
        "summary": "List admins & moderators of your school",
        "responses": {
          "200": {
            "description": "List of admins & moderators of your school"
          }
        }
      }
    },
    "/admins/{id}": {
      "get": {
        "summary": "Get admin/moderator details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin/moderator details"
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List school programs",
        "parameters": [
          {
            "name": "published",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of programs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "is_published": { "type": "boolean" },
                    "position": { "type": "integer" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" },
                    "progression": {
                      "type": "object",
                      "properties": {
                        "total_steps": { "type": "integer" },
                        "completed_steps": { "type": "integer" },
                        "progression_rate": { "type": "number" },
                        "time_spent": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Get product details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "is_published": { "type": "boolean" },
                    "position": { "type": "integer" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" },
                    "progression": {
                      "type": "object",
                      "properties": {
                        "total_steps": { "type": "integer" },
                        "completed_steps": { "type": "integer" },
                        "progression_rate": { "type": "number" },
                        "time_spent": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers": {
      "get": {
        "summary": "List school offers",
        "responses": {
          "200": {
            "description": "List of offers"
          }
        }
      }
    },
    "/offers/{id}": {
      "get": {
        "summary": "Get Offer Details",
        "responses": {
          "200": {
            "description": "Get Offer Details"
          }
        }
      }
    },
    "/offers/{id}/accesses": {
      "post": {
        "summary": "Set offer member access",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access": {
                    "type": "object",
                    "properties": {
                      "member_email": {
                        "type": "string"
                      },
                      "status": {
                        "type": "boolean"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      }
                    },
                    "required": ["member_email", "status"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Access created or updated"
          }
        }
      }
    },
    "/offers/{id}/accesses/set_drip_boost": {
      "post": {
        "summary": "Set offer drip boost for a member",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access": {
                    "type": "object",
                    "properties": {
                      "member_email": {
                        "type": "string"
                      },
                      "drip": {
                        "type": "integer"
                      }
                    },
                    "required": ["member_email", "drip"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Drip boost added"
          }
        }
      }
    },
    "/coachings/types": {
      "get": {
        "summary": "List coaching types",
        "responses": {
          "200": {
            "description": "List of coaching types"
          }
        }
      }
    },
    "/coachings/appointments": {
      "post": {
        "summary": "Create coaching appointment",
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration_hours",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "duration_minutes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_published",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "member_emails",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user_emails",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Appointment created"
          }
        }
      }
    },
    "/conversations/groups": {
      "post": {
        "summary": "Create conversation group",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_participants",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user_participants",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "201": { 
            "description": "Conversation group created"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "responses": {
          "200": {
            "description": "List of webhooks"
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook": {
                    "type": "object",
                    "properties": {
                      "webhook_url": {
                        "type": "string"
                      },
                      "event_type": {
                        "type": "string",
                        "enum": ["member.created", "member.updated", "access.granted", "access.revoked"]
                      },
                      "provider": {
                        "type": "string"
                      },
                      "extra_parameters": {
                        "type": "object"
                      }
                    },
                    "required": ["webhook_url", "event_type"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "delete": {
        "summary": "Delete webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}