{
  "openapi": "3.0.1",
  "info": {
    "title": "SchoolMaker API V1",
    "description": "API for managing your SchoolMaker school",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://schoolmaker.co/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/members": {
      "get": {
        "summary": "List members",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members with pagination"
          }
        }
      }
    },
    "/members/{id}": {
      "get": {
        "summary": "Get a member",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member details"
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List products",
        "parameters": [
          {
            "name": "published",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products"
          }
        }
      }
    },
    "/offers": {
      "get": {
        "summary": "List offers",
        "responses": {
          "200": {
            "description": "List of offers"
          }
        }
      }
    },
    "/offers/{id}/accesses": {
      "post": {
        "summary": "Set offer member access",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access": {
                    "type": "object",
                    "properties": {
                      "member_email": {
                        "type": "string"
                      },
                      "status": {
                        "type": "boolean"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      }
                    },
                    "required": ["member_email", "status"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Access created or updated"
          }
        }
      }
    },
    "/offers/{id}/accesses/add_drip_boost": {
      "post": {
        "summary": "Set offer drip boost for a member",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access": {
                    "type": "object",
                    "properties": {
                      "member_email": {
                        "type": "string"
                      },
                      "drip": {
                        "type": "integer"
                      }
                    },
                    "required": ["member_email", "drip"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Drip boost added"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "responses": {
          "200": {
            "description": "List of webhooks"
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook": {
                    "type": "object",
                    "properties": {
                      "webhook_url": {
                        "type": "string"
                      },
                      "event_type": {
                        "type": "string",
                        "enum": ["member.created", "member.updated", "access.granted", "access.revoked"]
                      },
                      "provider": {
                        "type": "string"
                      },
                      "extra_parameters": {
                        "type": "object"
                      }
                    },
                    "required": ["webhook_url", "event_type"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "delete": {
        "summary": "Delete webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        }
      }
    }
    
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}